<div class="table-card">

  <!-- Loader -->
  <div *ngIf="loading" class="table-loader">
    Loading data...
  </div>

  <!-- Error -->
  <div *ngIf="!loading && errorMsg" class="error">
    {{ errorMsg }}
  </div>

  <!-- Table -->
  <table *ngIf="!loading && data.length" class="common-table">
    <thead>
      <tr>
        <th>#</th>
        <th *ngFor="let col of columns">
          {{ col.label }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of data; index as i">
        <td>{{ i + 1 }}</td>

        <td *ngFor="let col of columns">
          {{ row[col.key] ?? '-' }}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- No Data -->
  <div *ngIf="!loading && !data.length && !errorMsg" class="no-data">
    No records found
  </div>

</div>
